<div>
  <app-nav-menu></app-nav-menu>
</div>
<div style="text-align: center;">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="Angular Logo">
</div>

<table class="table table-sm table-striped">
  <tr>
    <th>Name</th>
    <!-- <td>Movie Name</td> -->
  </tr>
  <tr>
    <th>Category</th>
    <!-- <td>Movie Category</td> -->
  </tr>
  <tr>
    <th>Description</th>
    <!-- <td>Movie Description</td> -->
  </tr>
  <tr>
    <th>Price</th>
    <!-- <td>Movie Price</td> -->
  </tr>
</table>

